PORT=3003
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/orders_db?retryWrites=true&w=majority
PRODUCT_SERVICE_URL=https://your-product-service.onrender.com
PAYMENT_SERVICE_URL=https://your-payment-service.onrender.com
